<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Poster Planner</title>
</head>
<body>
    <h1>Welcome to the Poster Assignment System</h1>
    <p>Select an option below:</p>

    <ul>
        <li><a href="{% url 'upload_judges' %}">Upload Judges</a></li>
        <li><a href="{% url 'upload_posters' %}">Upload Posters</a></li>
    </ul>
    <a href="{% url 'assign' %}"><button>Assign</button>
</body>
</html>
